<div class="home">
    <div class="container">
        
        <div class="row pt-5 mb-0">
            <div class="col text-center" >
                <h2>Marketing &bull; Web Design &bull; Application Development</h2>
            </div>
        </div>
        <div class="mt-5">
            <div class="text-center animate-left" style="color:white;">
                <img class="image_one" src="../../../assets/pexels-hasan-albari-1229861.jpg">
            </div>
            <div class="my-3 text-center sub-text animate-right">
                Web & Application Development
            </div>
        </div>
        <div class="mt-5">
            <div class="text-center animate-left" style="color:white;">
                <img class="ml-4 image_one"src="../../../assets/pexels-kaboompics-com-6224.jpg">
            </div>
            <div class="my-3 text-center sub-text animate-right">
                Marketing Strategy and Implementation
            </div>
            
        </div>
    </div>
</div>